[submodule "lib/30log"]
	path = lib/30log
	url = https://github.com/Yonaba/30log.git
[submodule "lib/Ser"]
	path = lib/Ser
	url = https://github.com/gvx/Ser.git
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "lib/json4lua"]
	path = lib/json4lua
	url = https://github.com/craigmj/json4lua
[submodule "lib/md5"]
	path = lib/md5
	url = https://github.com/kikito/md5.lua.git
